
cli/node_modules
cli/package-lock.json
cli/tests

packages/front-utilities/node_modules
packages/front-utilities/package-lock.json

packages/python-core/build
packages/python-core/dist
packages/python-core/versapy.egg-info

.env
