cli/node_modules
cli/package-lock.json
cli/tests

packages/front-utilities/node_modules
packages/front-utilities/package-lock.json
packages/front-utilities/dist

packages/python-core/build
packages/python-core/dist
packages/python-core/versapy.egg-info
packages/python-core/publish.bat

*.bat

build
dist
*.local
*.log
*.egg-info

.env
test.bat